.login__container {
  width: 60%;
  text-align: center;
  margin: 2rem auto;
  background: var(--bg-color);
  box-shadow: .4rem .4rem .7rem white, -.4rem -.4rem .7rem #cbcbcb;
  padding: .5rem;
}

.login__wrapper input {
  margin: 1rem 0 0 0;
  width: 80%;
  padding: .4rem 0 .4rem 1rem;
  border-radius: .5rem;
  height: 1.5rem;
  border: none;
  background: var(--bg-color);
  box-shadow: .3rem .3rem .4rem white, -.3rem -.3rem .4rem #cbcbcb;
  outline: none;
}

.login__wrapper label {
  text-align: left;
}

.login__checkbox {
  margin: 1rem 0;
}

.login__wrapper input:focus {
  box-shadow: inset .4rem .4rem .4rem white, inset -.4rem -.4rem .4rem #cbcbcb;
}

.login__button button {
  border: none;
  padding: .4rem;
  width: 5rem;
  border-radius: .5rem;
  color: white;
  background: green;
}